header{
    @include flexCenter(row);
    height: 65px;

    @include respond-to(handhelds){
        height: 5em;
    }

    @include respond-to(smallDesktop){
        height: 7em;
    }
}

// pages menus //
.header_arrow{
    position: absolute;
    left: 2.5em;

    @include respond-to(smallDesktop){
        left: 5em;
    }    
}