header{
    @include flexCenter(row);
    height: 65px;

    @include respond-to(smallDesktop){
        @include flex(row, flex-start, center);
        height: 7em;
    }
}

// pages menus //
.header_arrow{
    position: absolute;
    left: 2.5em;

    @include respond-to(smallDesktop){
        position: inherit;
        margin-right: 2em;
    }
}