@mixin cardContainer {
    width: $almost-full;
    margin: auto;
}

@mixin rectangularCard($radius){
    width: 100%;
    height: 4em;
    border-radius: $radius;
}

@mixin squareCard{
    background-color: $white;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-top: 2em;

    @include respond-to(handhelds){
        width: 40%;
        margin-top: 0;
        margin-bottom: 4em;
    }

    @include respond-to(smallDesktop){
        width: 40%;
        margin-top: 0;
        margin-bottom: 4em;
    }
}

// restaurants //
.restaurants_container{
    @include cardContainer;

    @include respond-to(handhelds){
        width: 90%;
        @include flex(row, space-around, center);
        flex-wrap: wrap;
    }

    @include respond-to(smallDesktop){
        width: 90%;
        @include flex(row, space-around, center);
        flex-wrap: wrap;
    }
}

.btn_card_relative{
    @include squareCard;
    position: relative;
}

.card{

    &_restaurant{
        @include squareCard;
        @include squareCardImg;
        position: relative;

        @include respond-to(handhelds){
            width: 100%;
        }
    
        @include respond-to(smallDesktop){
            width: 100%;
        }
    }

    &_new{
        @include stickerNew($tertiary-color);
        @include flexCenter(row);
        position: absolute;
        top: 0;
        right: 10px;
    }

    &_info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: .7em;

        h3{
            margin-bottom: 0px;
            margin-top: .5em;
        }

        p{
            margin-top: 2px;
        }
    }

    &_heart_container{
        position: absolute;
        @include flexCenter(column);
        right: 15px;
        bottom: 6px;
        top: 13em;
        z-index: 1;
    }

    &_heart{
        background-color: $white;
        border: none;
        font-size: 1.5em;
        color: grey;       
    }

    &_heart_menu{
        background-color: $background-color;
    }
}

