li{
    list-style-type: none;
}

// ordered lists //
@mixin listNumbersCircle{
    list-style-type: none;
    counter-increment: repas;
    margin-bottom: 1.3em;

    &:before{
        content: counter(repas);
        width: 25px;
        height: 22px;
        @include flexCenter(row);
        position: relative;
        left: 12px;
        background-color: $primary-color;
        border-radius: 100%;
        color: $white;
        font-size: .8em;
    }
}

// section_two acceuil //

#fonctionnement{
    padding: 0;
    
    li{
        width: $almost-full; 
        margin-left: 1em;
        @include listNumbersCircle;
        @include flexCenter(row);       
    }

    @include respond-to(handhelds){
        width: 100%;
        @include flexCenter(column);
    }
}

.icon_text{
    @include rectangularCard(20px);
    display: flex;
    align-items: center;
    background-color: $background-color;

    i{
        color: grey;

        @include respond-to(handhelds){
            padding-left: 25%;
        }
    }

    p{
        font-weight: bold;
    }

    i, p{
        margin-left: 10%;
        
        @include respond-to(handhelds){
            margin-left: 4%;
        }
    }
}

.primary-color{
    background-color: #9356dc16;

    i{
        color: $primary-color;
    }
}


// list menus cards //
.list_plates{
    padding: 0;
    width: 90%;
    margin: auto;

    li{
        margin-bottom: 1em;
    }
}

.plate_info{
        @include rectangularCard(13px);
        margin-bottom: 1em;
        display: flex;
        background-color: $white;

        &_text_container{
            @include flexColumn(center);
            width: 100%;
            overflow: hidden;
            white-space: normal;
            
            h3, .plate_info_text{
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: .5em;
            }

            .plate_info_text{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        } 
        
        &_description{
            display: flex;
            align-items: flex-end;
        }

        &_price{
            margin-right: 1em;
            margin-bottom: .6em;
        }

        &_checked{
            height: 3.4em;
            font-size: 1.2em;
            color: transparent;
            @include flexCenter(row);
            background-color: $tertiary-color;
            width: 0px;
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;
        }
}

