@import "./variables";
@import "./mixins";
@import "./functions";

/*général*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

h2{
    margin-left: 2rem;
    font-weight: 900;
}

.font_header{
    font-family: 'Shrikhand', cursive, sans-serif;
    font-weight: lighter;
}

.shadow{
    box-shadow: $shadow;
}

/*header*/
header{
    @include flexCenter(row);
    height: 65px;
}

/*first section*/
#section_one{
    background-color: $background-color;
    width: 100%;
}

.location{
    @include flexCenter(row);
    @include backgroundColor($background-color, $background-color);
    height: 3rem;

    form{
        margin-left: 1.3em;
    }

    &__info{
        @include flexCenter(column);
        width: 74%;
        height: 300px;
        text-align: center;
        margin: auto;

        h2{
            margin: 0;
        }
    }
}

input{
    @include inputStyle($background-color);
}

.btn{
    @include btnStyle;
    margin-top: 1.5em;
    width: 70%;
    height: 15%;
}




