body{
    font-family: 'Roboto', sans-serif;
    font-size: $normal-size;
    font-weight: $normal-weight;
    margin: 0;
    height: 100%;
    animation: body 300ms forwards; 

    @include respond-to(smallDesktop){
        width: 90%;
        margin: auto;
    }
}

h2{
    margin-left: 1.5rem;
    margin-top: 2em;
    font-weight: $max-bold;
}

.shadow{
    box-shadow: $shadow;
}

.page_sections{
    @include respond-to(smallDesktop){
        display: flex;
        flex-wrap: wrap;
    }
}