.img_page_menu{
    width: 100%;
    height: 250px;
    @include imgFullCover;
}

.page_menu{
    background-color: $background-color;
    margin-top: -3.2em;
    padding-bottom: 5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;

    &_sections{
        @include respond-to(smallDesktop){
            @include flex(row, space-between, baseline);
            margin-top: 3em;
        }
    }

    section{
        @include respond-to(smallDesktop){
            width: 30%;
        }
    }
}

.title_like{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.font_lighter{
    width: 2.6em;
    height: 1.5em;
    border-bottom: 3px solid $tertiary-color;
}

.btn_order_container{
    width: 100%;
    @include flexCenter(row);
    margin-top: 2em;

    @include respond-to(smallDesktop){
        margin-top: 2.5em;
        margin-bottom: 2em;
    }
}