.img_page_menu{
    width: 100%;
    height: 250px;
    @include imgFullCover;
}

.page_menu{
    background-color: $background-color;
    margin-top: -3.2em;
    padding: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.title_like{
    width: 100%;
    height: 75px;
    @include flexSpace(center, flex-start);
    position: relative;
    
    .heart_menu{
        background-color: $background-color;
        right: 1.3em;
        bottom: 5px;
    }

    .heart_menu--fulfill{
        right: 1.7em;
        bottom: 9px;
    }
}