// flexbox //
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexColumn($justify) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
}

@mixin flexSpace($align, $space) {
    display: flex;
    align-items: $align;
    justify-content: $space;
}

@mixin flexBaseline {
    display: flex;
    align-items: baseline;
}

// backgrounds //
@mixin backgroundColor($background, $borderTop) {

    @if $background != $white{
        background-color: darken($background, 5%);
    } 

    @if $borderTop != $white{
        border-top: 3px solid darken($borderTop, 13%);
    }
}

// sticker //
@mixin stickerNew ($background){
    background-color: $tertiary-color;
    width: 27%;
    height: 10%;

    @if $background == $tertiary-color{
        color: darken($background, 40%);
        font-weight: bolder;
    }
        
}