// colors //
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f5f5f5; 
$white: #fff;

// shadow //
$shadow: #d8d8d8 2px 5px 8px, -2px 5px 8px #d8d8d8;
$shadow-hover: #b1b1b1 2px 5px 3px, -2px 5px 3px #b1b1b1;
